.Sidebar {
    text-transform: capitalize;
    font-size: 15px;
    width: 25%;
}
.Sidebar img {
    width: 15px;
    opacity: 0.8;
}
.Sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.Sidebar li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.Sidebar > p {
    background-color: #F7941E;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 5px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .Sidebar {
        width: 100%;
    }
}