.Sidebar {
    flex-basis: 100px;
    flex-grow: 1;
    text-transform: capitalize;
    font-size: 15px;
}
.Sidebar img {
    width: 15px;
    opacity: 0.8;
}

.Sidebar li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
}

.Sidebar > p {
    background-color: #F7941E;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 5px;
    text-align: center;
}