.Filter {
    padding: 12px 0px 8px 0px;
    text-align: right;
}

#filter {
    font-size: 15px;
    width: 60px;
    padding: 5px 0px;
    border: 1px solid #F9B769;
    appearance:none;
    border-radius: 5px;
    text-align: center;
}
