h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
.App {
  width: 70%;
  margin: auto;
  text-align: center;
  color: #555555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Banner img {
  width: 100%;
}